body{
    background-color: #fff;
    font-family: 'Titillium Web', sans-serif;
}
.main{
    box-shadow: -5px 2px 54px -9px #6c63ff;
}
h1, a.navbar-brand{
    color: #6c63ff;
}

.btn{
    background-color: #756AB6;
}

.btn:hover{
    background-color: #6253b8;
}