body{
    background-color: #24353F;
    font-family: 'Titillium Web', sans-serif;
}
.main{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
h1{
    color: #17a2b8;
}
.form-control {
    color: #fff;
    background-color: #24353F;
}
input::placeholder{
    color: rgb(182, 182, 182) !important; 
}
.form-control:focus {
    background-color: #24353F;
    box-shadow: none;
    color: #fff;
}