body {
    background-color: #fff;
}

.btn-custom {
    background-color: #6c63ff;
    color: white;
    width: 100%;
}
.social-icons i {
    font-size: 1.5rem;
    margin: 0 10px;
    color: #6c63ff;
}
.form-control {
    background-color: #f4f4f9;
}
.text-purple {
    color: #6c63ff;
}
.form-text {
    font-size: 0.875rem;
    color: #6c757d;
}
.text-muted {
    color: #adb5bd !important;
}

form-control.is-valid, .was-validated .form-control:valid {
    border-color: rgb(0, 98, 255);
}

@media (min-width:1024px){
    .main{
        width: 40%;
    }
}